<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Anguler Test</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class="container" ng-app="test">
   
   <div class="row" ng-controller="DataListCtrl">
        <div class="col-xs-6 col-sm-4">
          <div class="sidebar1" >
           <h4>Vegetables</h4>
         
              <div class="form-group">
                <input class="form-control"  type="text" placeholder="Filter" ng-model="vegsearchText">
              </div>
        
            
            <div class="row">
            <div class="col-md-6">Order By</div>
            <div class="col-md-6"><span ng-click="orderbydata('size');" id="span_size"><strong>SIZE</strong></span> | <span ng-click="orderbydata('name');" id="span_name"><strong>NAME</strong></span></div>
          	</div>
            
            <div class="listitem">
               <ul  class="list_container">
                <li ng-repeat="vegdata in veg | filter:vegsearchText | orderBy:orderby track by $index"><span class="left_short"><a href="#" class="arrowUP" ng-click="arrowUp($index,'veg');"> <span class="glyphicon glyphicon-play" aria-hidden="true"></span> </a><a href="#" class="arrowDown" ng-click="arrowDown($index,'veg');"> <span class="glyphicon glyphicon-play" aria-hidden="true"></span> </a></span><a href="#" style="color:{{vegdata.attr1}}">{{vegdata.name}}</a><a class="remove" style="color:{{del!='Yes' ? 'grey' : ''}}" href="#" title="Remove"><i class="glyphicon glyphicon-remove" ng-click="deleteItem($index,'veg')"></i></a></li>               
				<li ng-show="!veg.length">No items</li>				 
               </ul>
            </div>
          
          </div>
        </div>
        <div class="col-xs-6 col-sm-4">
        <div class="middleSidebar">
         
          <div class="listitem">
               <ul>
				 <li>{{datalist[counter].name}}</li>               
               </ul>
          </div>
			<button type="button" class="btn btn-success" ng-click="setData(counter,'veg')">vegetable</button>
			<button type="button" class="btn btn-warning" ng-click="setData(counter,'fruit')">fruit</button>
        </div>
            <div class="fruitDetail">

        <div class="labelList">
    		<label>Allow Delete</label>
            <select class="selectpicker" id="delete" ng-model="del">
              <option>Yes</option>
              <option>No</option>
            </select>
           </div>

             <div class="labelList">
    		<label>Item Color</label>
            <select id="fruit_color" class="selectpicker">
              <option value="#337ab7">Blue</option>
              <option value="#f00">Red</option>
              <option>Green</option>
            </select>
           </div>
          <div class="labelList">
          <span class="undo" ng-click="undoData();">UNDO</span>
          </div>
    </div>
        </div>

        <!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-xs"></div>

        <div class="col-xs-6 col-sm-4">
          <div class="sidebar2">
           <h4>Fruits</h4>

              <div class="form-group">
                <input class="form-control" type="text" placeholder="Filter" ng-model="fruitsearchText">
              </div>

            
            <div class="row">
            <div class="col-md-6">Order By</div>
            <div class="col-md-6"><span ng-click="orderbydata('size');" id="span_size"><strong>SIZE</strong></span> | <span ng-click="orderbydata('name');" id="span_name"><strong>NAME</strong></span></div>
          	</div>
            
            <div class="listitem">
               <ul  class="list_container">
                 <li ng-repeat="fruitdata in fruit | filter:fruitsearchText | orderBy:orderby track by $index "><span class="left_short"><a href="#" class="arrowUP" ng-click="arrowUp($index,'fruit');"> <span class="glyphicon glyphicon-play" aria-hidden="true"></span> </a><a href="#" class="arrowDown" ng-click="arrowDown($index,'fruit');"> <span class="glyphicon glyphicon-play" aria-hidden="true"></span> </a></span><a href="#" style="color:{{fruitdata.attr1}}">{{fruitdata.name}}</a><a class="remove" style="color:{{del!='Yes' ? 'grey' : ''}}" href="#" title="Remove"><i class="glyphicon glyphicon-remove" ng-click="deleteItem($index,'fruit')"></i></a></li>   
				<li ng-show="!fruit.length">No items</li>				 
               </ul>
            </div>
          
          </div></div>

      </div>
      
   
      
      
     


    </div>
    
    
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap-select.min.js"></script>

<script src="js/angular.min.js"></script>
<script src="js/controller.js"></script>
<script src="js/services.js"></script>

  </body>
</html>